.modal-additives {
    .modal-content {
        max-width: 800px;
        margin: auto;
    }
}

.modal-body-additives {
    padding-bottom: 30px;
}

.additives-content {
    width: 340px;
    height: 300px;
}

.modal-item__additives_img {
    img {
        width: 292px;
        height: 292px;
    }
}

.modal-item__additives-description {
    span {
        font-size: 14px;
        line-height: 20px;
    }
}
